* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Inter, sans-serif;
  color:white;
  background-color: #23252C;
  height: 100%;

}

#root {
  width: 400px;
  height: 100%;;
  text-align: center;
  background-color: #1A1B21;
  margin: 40px auto;
  border-radius: 10px;
}
.header, .mainContent{
  margin: 0 auto;
  padding: 2rem;
}


@media screen and (max-width: 431px) {
  #root {
    margin: 0;
    width: 100%;
  }
}