.pictureOfRoss{
    border-radius: 10px 10px 0 0;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }
  .pictureOfRoss >img{
    min-width: 100%;
    min-height: 100%
  
}
.header > h1{
    font-size: 30px;
  }
  
  .header > h3{
    font-size: 15px;
    color:#F3BF99;
    font-weight: 400;
  }
  .header > a{
    font-size: 12px;
    text-decoration: underline;
    color:white;
  }
  
  .buttons {
    height: fit-content;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    cursor: pointer;
  
  }
  
  .buttons >button{
    width:125px;
    height: 38px;
    text-align: center;
    vertical-align: center;
    padding: 5px 0;
    font-size: 14px;
  }
  
  .buttons >button > img{
    margin-right: 10px;
    vertical-align: middle;
  }
  .email--icon{
    width: auto;
    height: 20px;
    margin-bottom: 1px;
  }
  .linkedin--icon{
    width: auto;
    height: 18px;
    margin-bottom: 2px;
  }
  .email{
    background-color: white;
    color: black;
  }
  .linkedin{
    background-color: #5093E2;
    color: white;
  }

  @media screen and (max-width: 431px) {
    .pictureOfRoss{
        width: 100%;
      }
  }